.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  background-color: #121212;
  color: white;
}

.card {
  background-color: #1F1F1F;
  border-radius: 0.375rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.cardHeader {
  padding: 0.5rem;
}

.cardTitle {
  text-align: center;
}

.cardDivider {
  height: 4px;
  background-color: #282828;
}

.cardBody {
  padding: 1rem;
}

.navButtons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.button {
  padding: 0.5rem 1rem;
  border-radius: 80px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  background-color: #1F1F1F;
  border: 1px solid #414446;
  color: #D1D5DB;
}

.button:hover {
  background-color: #222222;
}

.mainContent {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  align-items: stretch;
}

.bottomRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.statsCard, .countryCard {
  height: 100%;
}

.footer {
  text-align: center;
  color: #A0A0A0;
  margin-top: 1rem;
  padding-bottom: 2rem;
  clear: both;
}

.statsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.statsItem {
  display: flex;
  justify-content: space-between;
}

.statsLabel {
  color: #A0A0A0;
}

.statsValue {
   font-weight: bold;
   word-break: break-word;
   overflow-wrap: break-word;
}

.statsSubItem {
   display: flex;
   justify-content: space-between;
   margin-left: 2rem;
   gap: 1rem;
   align-items: flex-start;
   flex-wrap: wrap;
}

.timelineCardBody {
    padding: 0;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
}